<!DOCTYPE html>
<html>
<head>
	<!--use native sd css-->
	<!--disable on live -->
	<!-- <link rel="stylesheet" href="https://i2.sdlcdn.com/css/cxrevamp1492415844037/snap/common/scss/base.min.css">
	<link rel="stylesheet" href="https://i4.sdlcdn.com/css/cxrevamp1492415844037/snap/components/Offer_Campaign/scss/webResponsiveOffer.css">
	<link rel="stylesheet" href="https://i4.sdlcdn.com/css/cxrevamp1492415844037/snap/components/Offer_Campaign/scss/OfferCampaign.min.css"> -->

	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>snapdeal-deals-of-the-day</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">


	<!--
  	<meta name="description" content="snapdeal-best-sellers">
  	<meta name="msapplication-TileColor" content="#ff2240">
  	<meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
  	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  	<meta name="apple-mobile-web-app-title" content="snapdeal-best-sellers">
  	<meta name="application-name" content="snapdeal-best-sellers">
  	<meta name="format-detection" content="telephone=no">
  	<meta name="theme-color" content="#ff2240">
  	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
  	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
  	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
  	<link rel="manifest" href="./manifest.json">
		-->
	<script>
  // required for Internet Explorer
  !function(){for(var a,b=function(){},c=["assert","clear","count","debug","dir","dirxml","error","exception","group","groupCollapsed","groupEnd","info","log","markTimeline","profile","profileEnd","table","time","timeEnd","timeline","timelineEnd","timeStamp","trace","warn"],d=c.length,e=window.console=window.console||{};d--;)a=c[d],e[a]||(e[a]=b)}();
</script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script>function checkPicturefill_req(){pictureTag_supported?console.log("picture tag supported, picturefill not required!"):["https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.1/picturefill.min.js"].forEach(function(e){var c=document.createElement("script");c.src=e,c.async=!0,document.head.appendChild(c)})}var pictureTag_supported=!!window.HTMLPictureElement;checkPicturefill_req()</script>
</head>
<body>
	<!--test toggle header-shortlist-->
	<!-- <div class="header-shortlist hidden">
<p>Your item has been added to Shortlist.</p>
<span><a href="https://www.snapdeal.com/mywishlist">View All</a></span></div> -->
	<!--test-->
	<img src="https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/snapdeal_dodFacebookShareOgImage_31March2017.jpg" style="display:none" alt="Snapdeal Deals of the Day"><div id="in-house-main__container" class="in-house-main__style-reset"><div id="back-top"><a href="#top" class="hashAdded"><i class="back-to-top-icon backTopImg"></i></a></div><div class="in-house-main__header-banner"><picture><!--[if IE 9]><video style="display: none;"><![endif]--><source srcset="https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/DOD_Web_1920x320px.jpg" media="(min-width: 768px)"><source srcset="https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/dodHeader_sdGold_Wap.jpg" media="(min-width: 320px)"><source srcset="https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/dodHeader_sdGold_Wap.jpg"><!--[if IE 9]></video><![endif]--> <img srcset="https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/DOD_Web_1920x320px.jpg 768w, https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/dodHeader_sdGold_Wap.jpg 360w, https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/dodHeader_sdGold_Wap.jpg 320w" sizes="100%" alt="Deals of the Day Snapdeal 2016"></picture></div><div id="root" class="preact-mount-node"></div>
		</div>
		<!--DOD subscription form-->

	<!--SD leftNav-->
	<script type="text/javascript">
	var Update_leftNavMenuRevampOffsetLeft=function(){function i(){var a=document.body.getBoundingClientRect(),b=c.getBoundingClientRect(),g=b.left-a.left,h=g-f+d;e.style.cssText="left:"+(h-200)+"px !important"}function j(a,b,c){var d;return function(){var e=this,f=arguments,g=function(){d=null,c||a.apply(e,f)},h=c&&!d;clearTimeout(d),d=setTimeout(g,b),h&&a.apply(e,f)}}var a={},b=!0,c=document.getElementsByClassName("menuIconBar")[0];if(c&&null!==c)var d=c.offsetWidth;else console.log(".menuIconBar not found!"),b=!1;var e=document.getElementById("leftNavMenuRevamp");if(e&&null!==e)var f=e.offsetWidth;else console.log("#leftNavMenuRevamp not found!"),b=!1;return a.init=function(){if(b===!1)return void console.log("DOMelemsFound was false, Update_leftNavMenuRevampOffsetLeft.init did not run!");i();var a=j(function(){console.log("running Update_leftNavMenuRevampOffsetLeft"),i()},250);window.addEventListener("resize",a)},a}();
	Update_leftNavMenuRevampOffsetLeft.init();
	</script>
</body>
</html>
