.navMainX_Wrapper {
  background: transparent;
  //border-top: 1px solid $separator;
  //border-bottom: 1px solid $separator;
  li.navX99 {
    border-top: 1px solid $separator;
    border-bottom: 1px solid $separator;
  }

}
