

.superDeals_centered {
  overflow: visible !important;

  .offer-unit__rating-review-container  {
    height: 28px;

    @include breakpoint(768px){
      height: 17px;
    }
  }

  .offer-unit__rating-container--rel {
      float: left;
  }
}

#superDod {
  //background: orange !important;
  li.dodSuperDeal_unit  {
    &:nth-child(2){
      border-top : 1px solid #EBEAEA;
      @include breakpoint(999px){
        border-top: 0;
      };
    }
  }
}

.dodSuperDeal_unit {
  background: white;
  float: left;
  width: 100%;
  position: static;

  .offer-unit__after-href-container {
    width: 100%;
    float: left;
    position: relative;
  }

  .offer-unit__discount-container {
    text-align: left;
  }

  @include breakpoint(768px){
    width: 100%;
    padding: 1.6em 0;
    position: relative;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;

    &:hover {
      border: none !important;
      box-shadow: 0 5px 17px 0 rgba(23,84,116,0.18) !important;
      z-index: 15;
    }
  }
}


.dodSuperDealReasonsWrap_abs .offerUnit_Wrapper {
  box-sizing: border-box;
  display: none;
  border-left: 1px solid #f2f2f2;
  padding-left: 5%;
  padding-right: 3%;
  font-size: 10px;

  @include breakpoint(768px){
    display: block;
    padding-left: 9%;
    font-size: 14px;
  }
  @include breakpoint(1280px){
    font-size: 16px;
    padding-left: 15%;
  }
}

.dodSuperDealReasons_captionWrap {
  text-align: left;
  box-sizing: border-box;

  h4 {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 0.1em;
    padding-bottom: 0.6em
  }
}

.dodSuperDeal_unit .offer-unit__img-container--rel {
  box-sizing: border-box;
  text-align: center;
  float: right;
  width: 50% !important;
  padding-left: 3%;
  //padding-right: 5%;
}

.dodSuperDeal_unit .offer-unit__non-img-container {
  box-sizing: border-box;
  padding-left: 5%;
  width: 50% !important;
  text-align: left;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;

  @include breakpoint(1024px){
    padding-right: 0%;
  }
}

#DealofDayOffers {
  .offer-unit__rating-review-container{
    height: 17.5px;
  }
}


#superDodDouble_offerUnit_Wrapper {
  padding-top: 0;

  .offer-unit__img-container--rel {
    padding-bottom: 5px;
    overflow: hidden;
  }

  .offerUnits_2_2 {
    @include breakpoint(1024px){
        margin-bottom: 0.8%;
    }
  }
}

.dodSuperDealUnit_ev {
  //cursor: pointer;
  //max-width: 482px;

  .offer-unit__after-href-container {
    padding: 0.6em 0;
  }
}



.reasonsWrapper {
  cursor: default;
}
