//custom inner vars
$desktopHeight: 526px;
$desktopBigHeight: 532px;
$desktopWidth: 520px;
$mobileHeight: 67px;
$mobileWidth: 100%;
$forceLoadingHeight: 390px;

.filterMainModalContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: $mobileWidth;
  height: $mobileHeight;
  z-index: 18;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  // will-change: transform;
  -webkit-transition: transform 0.26s linear, opacity 0.2s linear;
  transition: transform 0.26s linear, opacity 0.2s linear;
  // transition: opacity 0.2s linear;

  @include breakpoint(640px){
    background: none;
    position: absolute;
    height: 0;
    width: 0;
    left: auto;
    top: -10px;
    right: 20px;
    right: 10vw;
  }

  &.showFilterControl {
    @include breakpoint(max-width 641px){
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }

  &.hideFilterControl {
    @include breakpoint(max-width 641px){
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  }

  &.true {
    @include breakpoint(640px){
      height: $desktopHeight ;
      width: $desktopWidth ;
    }
    @include breakpoint(1664px){
      height: $desktopBigHeight ;
    }
  }

  .relWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    box-shadow: none;
    @include breakpoint(640px){
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
  }

  span {
    display: inline-block!important;
  }
}

.filterMainModalContainer {
  span.filterTypeArrow {
    display: none !important;
    @include  breakpoint(640px){
      display: inline !important;
    }
  }
}

.disable-overflow {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 12 ;
  background: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


.disableModal {
  .disable-overflow {
    display: block;
  }
}

.enableModal {
  .disable-overflow {
    display: none;
  }
}

.deal-not-found {
  height: $minHeightDealofDayOffers;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 2em;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 2px;
  font-family:'MyBariolReg', sans-serif;
}
