//loader styles
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);

  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.loader__container--fixed {
  width: 100%;
  height: 68px;
  left: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 !important;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  transition: transform 0.3s linear;
  will-change: transform;

  &.true {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.loader-x99_wrapper {
  width: 100%;
  height: 67px;
  left: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  @include breakpoint(640px){
    position: relative;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.loader-x99_relWrapper {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}
.loader-x99 {
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  border: 0.25rem solid rgba(228, 0, 70, 0.9);
  border-top-color: rgba(228, 0, 70, 0.2);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loader__inner-container--abs {

  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  //background: rgba(255, 255, 255, 0.9);

  // @include breakpoint(640px){
  //   border-top-left-radius: 3px;
  //   border-top-right-radius: 3px;
  // }
}
