.show-limited-inventory {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(199, 0, 61, 0.6);
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

  @include breakpoint(640px) {
    letter-spacing: 1px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
  }
}
