.sprite_diwaliF {
    background-image: url('https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/diwaliF_spriteSheet01.png');
    background-repeat: no-repeat;
    display: inline-block;
    @extend .verticalCenterX99;
}
.sprite_diwaliF_facebook {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite_diwaliF_facebook_hover {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite_diwaliF_google {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}
.sprite_diwaliF_google_hover {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}
.sprite_diwaliF_pinterest {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}
.sprite_diwaliF_pinterest_hover {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}
.sprite_diwaliF_twitter {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}
.sprite_diwaliF_twitter_hover {
    width: 20px;
    height: 20px;
    background-position: -35px -65px;
}
