.conditionalShow_small {
  display: none;
}

@media (min-width: 640px) {
  .conditionalShow_small {
    display: inline;
  }
}
.shareX99_wrapper h3 {
  line-height: 1.2;
}
.shareX99_wrapper h3 span {
  display: inline !important;
}

.verticalCenterX99, .airplaneWrap_diwaliF, .shareThisPageOnTxt, .shareIconX_icoWrapper, .sprite_diwaliF {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.airPlaneBG_diwaliF {
  background: url("https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/diwaliF_plane.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rocketWrap_diwaliF {
  width: 31px;
  height: 71px;
  float: left;
  margin-right: 12px;
  position: relative;
  margin-top: -9.1px;
  z-index: 3;
}

.airplaneWrap_diwaliF {
  width: 25px;
  height: 25px;
  float: left;
}

.rocketBG_diwaliF {
  background: url("https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/diwaliF_rocket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shareThisPageOnTxt {
  float: left;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #666666;
  padding: 6px;
}

.shareX99_wrapper {
  width: 100%;
  float: left;
  overflow: visible;
  *zoom: 1;
  background: #f7f7f7;
  height: 60px;
}

.shareX99 {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  overflow: visible;
  position: relative;
}

.shareX99_h3Wrap {
  display: none;
  width: 142px;
  float: left;
}

@media (min-width: 768px) {
  .shareX99_h3Wrap {
    display: block;
    padding-left: 16px;
    opacity: 0;
  }
}
.shareX99_h3Wrap h3 {
  text-align: left;
  display: inline-block;
  margin-top: 12.4px;
  line-height: 1.2;
}

.WISH-YOU {
  height: 12px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #999999;
}

.A-Happy-Diwali {
  display: inline-block;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #666666;
}

.shareThisPageOn_Wrap {
  float: none;
  width: 278px;
  height: 60px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .shareThisPageOn_Wrap {
    width: 336px;
  }
}
@media (min-width: 768px) {
  .shareThisPageOn_Wrap {
    float: right;
  }
}
.innerWrap_shareThisPageOn {
  float: left;
}

.shadowInsetX_social,
.shareIconX_share {
  -webkit-box-shadow: inset 0px -9px 9px 0px #3c56a1;
  -moz-box-shadow: inset 0px -9px 9px 0px #3c56a1;
  box-shadow: inset 0px -9px 9px 0px #3c56a1;
}

.shareIconX_icoWrapper {
  float: left;
  position: relative;
}

.shareIconX_icoWrapper ul {
  list-style: none;
  float: left;
}

.shareIconX_icoWrapper ul li {
  width: 42px;
  height: 42px;
  border-radius: 2px;
  float: left;
  text-align: center;
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0.065, 0.45, 0.895);
  -moz-transition: all 0.2s cubic-bezier(0.86, 0.065, 0.45, 0.895);
  transition: all 0.2s cubic-bezier(0.86, 0.065, 0.45, 0.895);
  cursor: pointer;
}

.shareIconX_icoWrapper ul li:hover {
  background: #059ff5;
}

.facebookX:hover .sprite_diwaliF_facebook {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjAgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5ENkVDNjFEQi1CQjA5LTQwM0UtQUYzRi03MDVDMEJCNkM0NTY8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTAzMS4wMDAwMDAsIC01MTMuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlNoYXBlLUNvcHktMiIgZmlsbD0iI0ZGRkZGRiIgZD0iTTExLjMsOC4xVjYuNWMwLTAuMiwwLTAuNCwwLTAuNmMwLTAuMSwwLjEtMC4zLDAuMi0wLjRjMC4xLTAuMSwwLjItMC4yLDAuNC0wLjNjMC4yLTAuMSwwLjQtMC4xLDAuNy0wLjFoMS43VjEuOWgtMi43QzEwLjEsMS45LDksMi4zLDguNCwzYy0wLjcsMC43LTEsMS44LTEsMy4ydjJoLTJ2My4zaDJ2OS41aDR2LTkuNUgxNGwwLjQtMy4zSDExLjNMMTEuMyw4LjF6Ii8+PC9nPjwvZz48L2c+PC9zdmc+);
}

.googleplusX:hover .sprite_diwaliF_google {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT40QzYwNzExNi02RTQzLTREMTEtOTExRC1GOTM2ODVENzgyOTg8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE0My4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IkNvbWJpbmVkLVNoYXBlLUNvcHktMiIgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyMi4xLDE5LjljNC44LDAsOC44LTMuOSw4LjgtOC44cy0zLjktOC44LTguOC04LjhzLTguOCwzLjktOC44LDguOFMxMTcuMywxOS45LDEyMi4xLDE5Ljl6IE0xMTYuNCwxMS41Yy0wLjEtMS45LDEuNi0zLjYsMy40LTMuNmMxLTAuMSwxLjksMC4zLDIuNiwwLjljLTAuMywwLjMtMC42LDAuNi0wLjksMC45Yy0wLjYtMC40LTEuNC0wLjctMi4xLTAuNGMtMS4yLDAuMy0xLjksMS43LTEuNSwyLjljMC40LDEuMiwxLjgsMS45LDMsMS40YzAuNi0wLjIsMS0wLjgsMS4yLTEuNGMtMC43LDAtMS40LDAtMi4xLDBjMC0wLjQsMC0wLjgsMC0xLjJjMS4yLDAsMi4zLDAsMy41LDBjMC4xLDEtMC4xLDIuMS0wLjcsMi45Yy0wLjksMS4yLTIuNSwxLjUtMy45LDFDMTE3LjQsMTQuNSwxMTYuNCwxMywxMTYuNCwxMS41eiBNMTI1LjcsMTBoMWMwLDAuMywwLDAuNywwLDFjMC4zLDAsMC43LDAsMSwwdjFjLTAuMywwLTAuNywwLTEsMGMwLDAuMywwLDAuNywwLDFjLTAuMywwLTAuNywwLTEsMGMwLTAuMywwLTAuNywwLTFjLTAuMywwLTAuNywwLTEsMHYtMWMwLjMsMCwwLjcsMCwxLDBDMTI1LjcsMTAuNywxMjUuNywxMC4zLDEyNS43LDEweiIvPjwvZz48L2c+PC9nPjwvc3ZnPg==);
}

.pinterestX:hover .sprite_diwaliF_pinterest {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT45RTgyNzU2My1BMTkwLTQ4RjYtQTJCMS0yMDJDRENCQTY2NjA8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE5My4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlBpbnRlcmVzdCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTE3Mi42LDIwLjRjNSwwLDktNCw5LTlzLTQtOS05LTlzLTksNC05LDlTMTY3LjYsMjAuNCwxNzIuNiwyMC40eiBNMTczLjMsMTQuNGMtMC43LTAuMS0xLTAuNC0xLjUtMC43Yy0wLjMsMS41LTAuNywzLTEuNywzLjhjLTAuMy0yLjMsMC41LTQuMSwwLjktNS45Yy0wLjYtMS4xLDAuMS0zLjIsMS40LTIuN2MxLjcsMC43LTEuNCw0LDAuNiw0LjRjMi4yLDAuNCwzLjEtMy44LDEuNy01LjFjLTEuOS0yLTUuNywwLTUuMiwyLjhjMC4xLDAuNywwLjgsMC45LDAuMywxLjljLTEuMi0wLjMtMS42LTEuMy0xLjYtMi42YzAuMS0yLjEsMS45LTMuNiwzLjgtMy45YzIuMy0wLjMsNC42LDAuOSw0LjksMy4xQzE3Ny4yLDExLjksMTc1LjgsMTQuNiwxNzMuMywxNC40eiIvPjwvZz48L2c+PC9nPjwvc3ZnPg==);
}

.twitterX:hover .sprite_diwaliF_twitter {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5DMkQ5RkQ5MC02MEMyLTQ2MEItQTM2MC1BRUIwQjJGQjUwQ0Y8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTA4OC4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlNoYXBlLUNvcHktMyIgZmlsbD0iI0ZGRkZGRiIgZD0iTTU3LjksMTguMmMxLjcsMS4xLDMuOCwxLjcsNS45LDEuN0M3MCwxOS45LDc1LDE1LDc1LDljMC0wLjIsMC0wLjMsMC0wLjRjMC4yLTAuMiwxLjYtMS4zLDEuOS0xLjljMCwwLTEuMSwwLjUtMi4yLDAuNmMwLDAsMCwwLDAsMGMwLDAsMCwwLDAsMGMwLjEtMC4xLDEuNS0xLDEuNy0yLjFjMCwwLTAuOCwwLjQtMS45LDAuOGMtMC4yLDAuMS0wLjQsMC4xLTAuNiwwLjJjLTAuNy0wLjctMS43LTEuMi0yLjgtMS4yYy0yLjIsMC0zLjksMS43LTMuOSwzLjhjMCwwLjMsMCwwLjYsMC4xLDAuOWMtMC4zLDAtNC45LTAuMy04LTRjMCwwLTEuOSwyLjUsMS4xLDUuMWMwLDAtMC45LDAtMS43LTAuNWMwLDAtMC4zLDMsMy4xLDMuOGMwLDAtMC43LDAuMi0xLjcsMC4xYzAsMCwwLjYsMi40LDMuNiwyLjdDNjMuNywxNi42LDYxLjMsMTguNyw1Ny45LDE4LjJMNTcuOSwxOC4yTDU3LjksMTguMnoiLz48L2c+PC9nPjwvZz48L3N2Zz4=);
}

.sprite_diwaliF {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.sprite_diwaliF_facebook {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjAgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5ENkVDNjFEQi1CQjA5LTQwM0UtQUYzRi03MDVDMEJCNkM0NTY8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTAzMS4wMDAwMDAsIC01MTMuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlNoYXBlLUNvcHktMiIgZmlsbD0iIzM5NTc5QSIgZD0iTTExLjMsOC4xVjYuNWMwLTAuMiwwLTAuNCwwLTAuNmMwLTAuMSwwLjEtMC4zLDAuMi0wLjRjMC4xLTAuMSwwLjItMC4yLDAuNC0wLjNjMC4yLTAuMSwwLjQtMC4xLDAuNy0wLjFoMS43VjEuOWgtMi43QzEwLjEsMS45LDksMi4zLDguNCwzYy0wLjcsMC43LTEsMS44LTEsMy4ydjJoLTJ2My4zaDJ2OS41aDR2LTkuNUgxNGwwLjQtMy4zSDExLjNMMTEuMyw4LjF6Ii8+PC9nPjwvZz48L2c+PC9zdmc+);
}

.sprite_diwaliF_google {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT40QzYwNzExNi02RTQzLTREMTEtOTExRC1GOTM2ODVENzgyOTg8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE0My4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IkNvbWJpbmVkLVNoYXBlLUNvcHktMiIgZmlsbD0iI0RDNEU0MSIgZD0iTTEyMi4xLDE5LjljNC44LDAsOC44LTMuOSw4LjgtOC44cy0zLjktOC44LTguOC04LjhzLTguOCwzLjktOC44LDguOFMxMTcuMywxOS45LDEyMi4xLDE5Ljl6IE0xMTYuNCwxMS41Yy0wLjEtMS45LDEuNi0zLjYsMy40LTMuNmMxLTAuMSwxLjksMC4zLDIuNiwwLjljLTAuMywwLjMtMC42LDAuNi0wLjksMC45Yy0wLjYtMC40LTEuNC0wLjctMi4xLTAuNGMtMS4yLDAuMy0xLjksMS43LTEuNSwyLjljMC40LDEuMiwxLjgsMS45LDMsMS40YzAuNi0wLjIsMS0wLjgsMS4yLTEuNGMtMC43LDAtMS40LDAtMi4xLDBjMC0wLjQsMC0wLjgsMC0xLjJjMS4yLDAsMi4zLDAsMy41LDBjMC4xLDEtMC4xLDIuMS0wLjcsMi45Yy0wLjksMS4yLTIuNSwxLjUtMy45LDFDMTE3LjQsMTQuNSwxMTYuNCwxMywxMTYuNCwxMS41eiBNMTI1LjcsMTBoMWMwLDAuMywwLDAuNywwLDFjMC4zLDAsMC43LDAsMSwwdjFjLTAuMywwLTAuNywwLTEsMGMwLDAuMywwLDAuNywwLDFjLTAuMywwLTAuNywwLTEsMGMwLTAuMywwLTAuNywwLTFjLTAuMywwLTAuNywwLTEsMHYtMWMwLjMsMCwwLjcsMCwxLDBDMTI1LjcsMTAuNywxMjUuNywxMC4zLDEyNS43LDEweiIvPjwvZz48L2c+PC9nPjwvc3ZnPg==);
}

.sprite_diwaliF_pinterest {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT45RTgyNzU2My1BMTkwLTQ4RjYtQTJCMS0yMDJDRENCQTY2NjA8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE5My4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlBpbnRlcmVzdCIgZmlsbD0iI0JEMDkxQyIgZD0iTTE3Mi42LDIwLjRjNSwwLDktNCw5LTlzLTQtOS05LTlzLTksNC05LDlTMTY3LjYsMjAuNCwxNzIuNiwyMC40eiBNMTczLjMsMTQuNGMtMC43LTAuMS0xLTAuNC0xLjUtMC43Yy0wLjMsMS41LTAuNywzLTEuNywzLjhjLTAuMy0yLjMsMC41LTQuMSwwLjktNS45Yy0wLjYtMS4xLDAuMS0zLjIsMS40LTIuN2MxLjcsMC43LTEuNCw0LDAuNiw0LjRjMi4yLDAuNCwzLjEtMy44LDEuNy01LjFjLTEuOS0yLTUuNywwLTUuMiwyLjhjMC4xLDAuNywwLjgsMC45LDAuMywxLjljLTEuMi0wLjMtMS42LTEuMy0xLjYtMi42YzAuMS0yLjEsMS45LTMuNiwzLjgtMy45YzIuMy0wLjMsNC42LDAuOSw0LjksMy4xQzE3Ny4yLDExLjksMTc1LjgsMTQuNiwxNzMuMywxNC40eiIvPjwvZz48L2c+PC9nPjwvc3ZnPg==);
}

.sprite_diwaliF_twitter {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgMjEiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5DMkQ5RkQ5MC02MEMyLTQ2MEItQTM2MC1BRUIwQjJGQjUwQ0Y8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBza2V0Y2h0b29sLjwvZGVzYz48ZyBpZD0iUGFnZS0xIj48ZyBpZD0iRGl3YWxpLXNoYXJlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTA4OC4wMDAwMDAsIC01MTIuMDAwMDAwKSI+PGcgaWQ9Ikdyb3VwLTMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMzEuMDAwMDAwLCA1MTIuMDAwMDAwKSI+PHBhdGggaWQ9IlNoYXBlLUNvcHktMyIgZmlsbD0iIzA1OUZGNSIgZD0iTTU3LjksMTguMmMxLjcsMS4xLDMuOCwxLjcsNS45LDEuN0M3MCwxOS45LDc1LDE1LDc1LDljMC0wLjIsMC0wLjMsMC0wLjRjMC4yLTAuMiwxLjYtMS4zLDEuOS0xLjljMCwwLTEuMSwwLjUtMi4yLDAuNmMwLDAsMCwwLDAsMGMwLDAsMCwwLDAsMGMwLjEtMC4xLDEuNS0xLDEuNy0yLjFjMCwwLTAuOCwwLjQtMS45LDAuOGMtMC4yLDAuMS0wLjQsMC4xLTAuNiwwLjJjLTAuNy0wLjctMS43LTEuMi0yLjgtMS4yYy0yLjIsMC0zLjksMS43LTMuOSwzLjhjMCwwLjMsMCwwLjYsMC4xLDAuOWMtMC4zLDAtNC45LTAuMy04LTRjMCwwLTEuOSwyLjUsMS4xLDUuMWMwLDAtMC45LDAtMS43LTAuNWMwLDAtMC4zLDMsMy4xLDMuOGMwLDAtMC43LDAuMi0xLjcsMC4xYzAsMCwwLjYsMi40LDMuNiwyLjdDNjMuNywxNi42LDYxLjMsMTguNyw1Ny45LDE4LjJMNTcuOSwxOC4yTDU3LjksMTguMnoiLz48L2c+PC9nPjwvZz48L3N2Zz4=);
}
