.wishlist-icon-wrapper--abs {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 4;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
  @include breakpoint( 768px){
    display: block;
  }
}

.offer-unit__li, .dodSuperDeal_unit {
  &:hover {
    .wishlist-icon-wrapper--abs {
      visibility: visible;
    }
  }
}

.shortlist-confirm {
  width: 370px;
  position: fixed;
  right: 0;
  left: 0;
  top: 120px;
  margin: auto;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  padding: 20px;
  background: rgba(25,25,25,0.95);
  border-radius: 4px;
  z-index: 99999;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
  opacity: 0.98;
  color: #fff;

  &__info {
    font-size: 13px;
    line-height: 3.2;
    width: 70%;
    float: left;
    text-align: center;
  }
  &__button {
    display: block;
    float: right;
    padding: 5px;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    margin: 7px auto;
    margin-right: 15px;
    text-align: center;
    border-radius: 2px;
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}
